/*background*/

body {
  background: url("imagedir/background3.jpg") no-repeat center fixed !important;
  background-size: cover !important;
  background-position: bottom !important;
}

/*name placement/color*/

.Name {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 5%;
}
